@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

:root {
    --theme: #3DBEBB;
    --theme2: #0a6688;
    --gradient: linear-gradient(315deg, #3ebfc2 0%, #0a6688 74%);
    --gradient2: linear-gradient(90deg, rgba(62, 191, 194, 1) 0%, rgba(10, 102, 136, 1) 100%);
}

body,
#about,
.font-family {
    font-family: 'Poppins' !important;
}


.gradientBg {
    background: var(--gradient);
}

.gradient2 {
    background: var(--gradient2);
}

.hoverbg:hover {
    background: var(--theme2) !important;
}

.gradientBorder {
    position: relative;
    background: var(--gradient);
    z-index: 0;
}

.gradientBorder::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: #041318;
    border-radius: inherit;
    z-index: -1;
}

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 97px;
    overflow-x: hidden;
    display:none;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.white {
    filter: grayscale(1) brightness(2) contrast(2);
}

.swiper-wrapper {
    margin-bottom: 20px !important;
}

.swiper-pagination-bullet {
    width: 18px !important;
    height: 18px !important;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--theme) !important;
    margin: 0 5px !important;
    opacity: 1;
    transition: background 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: var(--theme2) !important;
}

.servicesBox {
    box-shadow: 5px 2px 10px #0006;
    border-radius: 16px;
    background: #fff;
    margin: 65px 10px;
    height: 340px;
    padding: 28px 15px;
    position: relative;
}

.servicesBox:hover,
.servicesBox:hover .service-desc,
.servicesBox:hover .service-num {
    color: white !important;
}

.servicesBox:hover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/home/services/service-hover-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
}

.servicesBox .iconBox {
    border: 1px solid #052a3c;
    border-radius: 500px;
    background: #fff;
    width: 90px !important;
    height: 90px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.iconBox img {
    width: 100%;
    padding: 14px;
    object-fit: contain;
}

.service-num {
    font-size: 37px;
    font-weight: 400;
    font-family: "Poppins" !important;
    color: #0a6688;
}

.service-divider {
    display: flex;
    justify-content: center;
    padding: 8px 0px;
}

.divider {
    width: 60%;
    height: 3px;
    background: #0a6688;
}

.service-desc {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    font-family: "poppins" !important;
    color: #8a8a8a;
    overflow-y: scroll;
    height: 100px;
}

.service-btn {
    display: flex;
    justify-content: center;
}

.service-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 12px;
    white-space: nowrap;
    background: white;
    padding: 12px 0;
    border: 1px solid #0a6688;
    border-radius: 500px;
    color: #000;
    font-weight: 400;
    font-family: "poppins" !important;
}

.swiper-wrapper {
    margin-bottom: 20px !important;
}

@media (max-width: 500px) {
    .fa-phone:before {
        content: "" !important;
        display: none !important;
    }
}

.boxShadow {
    box-shadow: 3px 3px 5px #00000063;
    border-radius: 24px;
}

.faq-answer {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.faq-answer.open {
    max-height: 200px;
    padding-top: 0.5rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.faq {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(62, 191, 194, 1) 100%);
    /* padding: 1rem; */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    width: 100%;
}

.faq-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #444;
    margin-bottom: 0.5rem;
}

.faq-description {
    text-align: center;
    color: #666;
    margin-bottom: 1.5rem;
}

.faq-item {
    background-color: #e6f8f9;
    border-radius: 8px;
    /* padding: 0.75rem 1rem; */
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.faq-item button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: #444;
}

.faq-answer {
    font-size: 0.875rem;
    color: #555;
}

.fa-twitter:before {
    content: "\f099";
}

.serviceBox {
    box-shadow: 4px 4px 20px #0000006e;
}

.process-divider {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.dividers-process {
    width: 30%;
    height: 3px;
    background: #0a6688;
}

.shadowTestimonials {
    box-shadow: 3px 4px 12px #00000047;
}

.aboutBanner {
    background-position-x: -130px !important;
}

.aboutBanner2 {
    background-position-x: -270px !important;
}

.bgImage::after {
    content: "";
    background-image: url(../images/av-bg-img.png);
    position: absolute;
    top: 10%;
    left: 0 !important;
    width: 100%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}

.bgImage:hover:after {
    background-image: url(../images/av-bg-hover-img.png)
}

.blog-bottom-main h4 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Poppins" !important;
    color: #0a6688;
}

.blog-bottom-main h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: "Poppins" !important;
    color: #0a6688;
    line-height: 50px;
}

.blog-bottom-main h2 {
    font-size: 34px;
    text-align: center;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 45px;
    font-family: "Poppins" !important;
    color: #0a6688;
    line-height: 50px;
}

.blog-bottom-main h5 {
    font-weight: 600;
    font-family: "Poppins" !important;
    font-size: 30px;
    color: #0a6688;
}

.blog-bottom-main p, .blog-bottom-main li {
    color: #000000c4;
    font-family: "Poppins" !important;
    font-size: 16px;
    line-height: 34px;
    text-transform: none;
    margin-bottom: 30px;
}



.term-sec-wrap {
    padding: 170px 0;
    background-image: url(../images/prvcy.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.term-sec-wrap .terms-content h2 {
    font-family: "Poppins" !important;
    font-size: 35px;
    font-weight: 600;
    line-height: 80px;
    color: #0a6688;
}

.term-sec-wrap .terms-content p {
    font-family: "Poppins" !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000;
}

.term-sec-wrap .terms-content p span {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin: 0 5px 0 0;
    font-family: "Poppins" !important;
}

.term-sec-wrap .terms-content ul li {
    font-family: "Poppins" !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000;
    list-style: disc;
    margin: 0 0 0 20px;
}

 .term-sec-wrap .terms-content p {
        font-size: 16px !important;
        line-height: 30px !important;
    }
    
     .term-sec-wrap .terms-content h2 {
        font-size: 28px !important;
        line-height: 42px !important;
    }
    
     .term-sec-wrap .terms-content ul li {
        font-size: 14px !important;
    }
    
     .term-sec-wrap .terms-content p {
        font-size: 14px !important;
        line-height: 26px !important;
    }
    
     .term-sec-wrap .terms-content h2 {
        font-size: 28px !important;
        line-height: 42px !important;
    }
    
     .term-sec-wrap .terms-content ul li {
        font-size: 14px !important;
    }
    
      .term-sec-wrap .terms-content h2 {
        line-height: 37px;
    }
    
      .term-sec-wrap .terms-content p {
        font-size: 16px !important;
        line-height: 30px !important;
    }
    
     .term-sec-wrap .terms-content ul li {
        font-size: 14px !important;
    }
    
     .term-sec-wrap .terms-content h2 {
        font-size: 24px !important;
    }
    
     .term-sec-wrap .terms-content h2 {
        line-height: 37px;
    }
    
      .term-sec-wrap {
        padding: 170px 0 70px 0;
    }
    
    .privacy_container{
     width: 80%;
     margin: 0 auto;
    }
    
    .terms-content h2 {
    margin: 20px 0;
}

.term-condition-container {
    width: 80%;
    margin: 0 auto;
}

#form-background{
     background-image: url(../images/home/footer-form-bg.webp);
}